.desktop {
  display: none;
}

.mobile {
  display: block;
}

@media (min-width: 50em) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}

/* .container {
  width: min(1280px, 100% - 2rem);
  margin-inline: auto;
} */

.learn-more{
  background-color: var(--clr-accent-600);
}
